
.mainBody {
    position: relative;
}

.borderline {
    border-style: solid;
    border-color: white;
}

.topHeader {
    position: relative;
}

.socialMediaButtonContainer {
    display: inline-flex;
    gap: 10px;
}
 
.socialMediaButtonContainer span{
     display: flex;
     justify-content: center;
     align-items: center;
}

.navlinkStyles {
    position: relative;
    padding: 10px;
}

.socialMediaButtonContainer a:hover, .navlinkStyles a:hover {
    color: var(--tea-green);
    transform: scale(1.25);
}

.aboutImages {
    margin: 0 auto;
}
 
.servicesContainer section{
     padding: 50px;
     background-color:var(--charcoal);
     margin: 40px 180px;
}
 
.servicesContainer section h3 {
     padding-bottom: 10px;
     color: var(--tea-green);
}

.storeContainer h4{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
}
 
.storeProductContainer {
     display: flex;
     flex-wrap: wrap;
}
 
.storeProductContainer > div {
     flex: 50%;
}

.contactContainer {
    background-color:var(--charcoal);
    margin: 25px;
    padding: 25px;
}

.contactTextField {
    display: block;
    padding: 20px;
    color: white;
}

.footerSection {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 50%;
}

@media screen and (max-width: 800px) {
    .navlinkStyles{
        display: inline-flex;
        position: absolute;
        left: 80%;
        top: -50%;
    }

    .footerSection {
        left: 0;
        right: 0;
        width: fit-content;
        margin-inline: auto;
        /* bottom: auto; */
    }

    .servicesContainer section{
        padding: 50px;
        margin: 30px auto;
     }

     .storeProductContainer {
        text-align: center;
     }

     .storeProductContainer > div {
        padding: 10px;
     }
}

@media screen and (min-width: 800px){
    .navlinkStyles {
        display: flex;
        gap: 20px;
    }

    .itchproduct {
        padding: 12px;
    }
}

.submitButton {
    width: 250px;
}