:root {
  --background: #ffffff;
  --foreground: #171717;
  --tea-green: #CAFFB9;
  --periwinkle: #C2D4FF;
  --cambridge-blue: #8FA78B;
  --charcoal: #324A5F;
  --rich-black: #0C1821; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  padding: 10px;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  padding-top: 12px;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

section {
  text-align: center;
}

h2 {
  color: var(--tea-green);
}

#name-form-label, #email-form-label, #message-form-label {
  color: var(--tea-green);
}

.mui-5h82ro-MuiInputBase-root-MuiInput-root::after {
  border-bottom: 2px solid var(--tea-green) !important;
}

.mui-xrmkj5-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: var(--tea-green) !important;
}

.mui-w4nesw-MuiInputBase-input-MuiOutlinedInput-input {
  color: white !important;
}